AMPL/Backup/
AMPL/Instancias/
AMPL/Resultados/
Instancias/
NSGA-II-V0/Outputs/
NSGA-II-V0/*.log
ParamILS-V0/Instances/
ParamILS-V0/OUT
ParamILS-V0/salida
ParamILS-V0/salida2
ParamILS-V0/quality.out
ParamILS-V0/ParamILS_ANSGA2_IAll_S2.out
ParamILS-V0/out/
ParamILS-V0/NSGA-II-V0/*.log
NSGA-II-V1/Outputs/
NSGA-II-V1/*.log
ParamILS-V1/Instances/
ParamILS-V1/OUT
ParamILS-V1/salida
ParamILS-V1/salida2
ParamILS-V1/quality.out
ParamILS-V1/ParamILS_ANSGA2_IAll_S2.out
ParamILS-V1/out/
ParamILS-V1/NSGA-II-V1/*.log
NSGA-II-V2/Outputs/
NSGA-II-V2/*.log
ParamILS-V2/Instances/
ParamILS-V2/OUT
ParamILS-V2/salida
ParamILS-V2/salida2
ParamILS-V2/quality.out
ParamILS-V2/ParamILS_ANSGA2_IAll_S2.out
ParamILS-V2/out/
ParamILS-V2/NSGA-II-V2/*.log
NSGA-II-V3/Outputs/
NSGA-II-V3/*.log
ParamILS-V3/Instances/
ParamILS-V3/OUT
ParamILS-V3/salida
ParamILS-V3/salida2
ParamILS-V3/quality.out
ParamILS-V3/ParamILS_ANSGA2_IAll_S2.out
ParamILS-V3/out/
ParamILS-V3/NSGA-II-V3/*.log